#case {
    display:flex;
    justify-content: space-around;
}

.cases {
    display:flex;
    justify-content: space-around;
    padding: 23px;
}

.caseH {
    margin: 36px;
    padding: 16px;
}

h2 {
    text-align: center;
    padding: 32px;
    color: white;

}

h5 {
    text-align: center;
    padding: 32px;
    color: white;

}

button {
    display: block;
    margin-left: auto;
    margin-right: auto;
    background-color: #FFD700;
    color: black
}

.buttonBuy {
    margin: 10px;
}

.rowBuy {
    margin: 50px;
}

h1 {
    text-align: center;
    padding: 29px;
    color: white;

}

.zoom {
    padding: 50px;
    transition: transform .2s; /* Animation */
    margin: 0 auto;
  }
  
  .zoom:hover {
    transform: scale(1.2); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
  }

  .background {
      background-image: url('https://image.noelshack.com/fichiers/2019/16/5/1555670892-spyrobckg.jpg');
      background-size: cover;
  }

  .whiteColor {
    color: white;
  }



  .black {
    background-color: grey;
  }