<div class="row" id='case'>
  <div class="col-6">
    <div class="card" style="width: 30rem;">
      <h2>Loot some special eggs and complete your collection !</h2>
      <img class="card-img-top" src="https://lootg2acom.blob.core.windows.net/assets/custom/48.png"
        alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">Basic Case</h5>
        <p class="card-text">Egg rarity : junk, basic, fine</p>
        <button (click)="getRandEgg()" class="btn btn-primary">Loot</button>
        <div *ngIf="egg">
          <img [src]="egg.image">
          <p>{{ egg.name }}</p>
          <p>{{ egg.rarity }}</p>
          <p>{{ egg.power }}</p>
        </div>
      </div>
    </div>
  </div>
  <div class="col-6">
    <div class="card" style="width: 30rem;">
      <h2>Loot some special characters and complete your collection !</h2>
      <img class="card-img-top" src="https://lootg2acom.blob.core.windows.net/assets/custom/48.png"
        alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">Basic Case</h5>
        <p class="card-text">Egg rarity : junk, basic, fine</p>
        <button (click)="getRandCar()" class="btn btn-primary">Loot</button>
        <div *ngIf="character">
          <img [src]="character.image">
          <p>{{ character.name }}</p>
          <p>{{ character.skills }}</p>
        </div>
      </div>
    </div>
  </div>
</div>

<h2>Check your collection of Eggs</h2>
<h5>You have {{ count }} credits</h5>
<div class="row">
  <div class="card">
    <div class="row">
      <div *ngFor="let eggEarn of collection" class="card col-2" style="width: 18rem;">
        <img class="card-img-top" [src]="eggEarn.image" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">{{ eggEarn.name }}</h5>
          <p class="card-text">{{ eggEarn.power }}</p>
        </div>
      </div>
    </div>
  </div>
</div>

<h2>Check your collection of Characters</h2>
<h5>You have {{ count }} credits</h5>
<div class="row">
  <div class="card">
    <div class="row">
      <div *ngFor="let charaEarn of characterCollection" class="card col-2" style="width: 18rem;">
        <img class="card-img-top" [src]="charaEarn.image" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">{{ charaEarn.name }}</h5>
          <p class="card-text">{{ charaEarn.skills }}</p>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="card col-4">
    <img class="card-img-top"
      src="https://www.wondercity.com/uploads/publication/carousel/6d1f441545b4380862fa995bb0d76529db6dc751-3df10.jpg"
      alt="Card image cap">
    <button (click)="getChocolatePrice1()" class="btn btn-primary">CHECK PRICE OF CHOCOLATES</button>
    <div *ngIf="chocolateStock">
      <h5>{{ chocolateStock[0].price }}£ for {{ chocolateStock[0].amount }} {{ chocolateStock[0].unit }}</h5>
    </div>
  </div>
  <div class="card col-4">
    <img class="card-img-top"
      src="http://www.canalvie.com/polopoly_fs/1.3665535.1520353788!/image/decorations-paques.jpg_gen/derivatives/cvlandscape_670_377/decorations-paques.jpg"
      alt="Card image cap">
    <h5> With your {{count}} credits, you can buy {{kgChocolate}} KG of chocolate !</h5>
  </div>
  <div class="card col-4">
    <img class="card-img-top"
      src="https://static.lexpress.fr/medias_11792/w_1533,h_1150,c_crop,x_270,y_215/w_605,h_350,c_fill,g_north/v1522403106/oeufs-de-paques-peints_6037568.jpg"
      alt="Card image cap">
    <button class="btn btn-primary">BUY NOW YOUR CHOCOLATE</button>
  </div>
</div>